<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <img src="data:image/png;base64  , {{plot}}" alt = "image not found" height="250", width="500">
    <!-- <img src="data:image/png;base64  , {{data2}}" alt = "image not found" height="250", width="500">
    <img src="data:image/png;base64  , {{data3}}" alt = "image not found" height="250", width="500">
    <img src="data:image/png;base64  , {{data4}}" alt = "image not found" height="250", width="500"> -->
</body>
</html>